@model ListProductsViewModel
@{
    var prod = Model;
}
@{ 
    Dictionary<string, string> data = new Dictionary<string, string>()
    {
        { "productId", Model.Product.ProductId },
        { "sortCriteria", Model.sortCriteria },
        {"ascDesc", Model.ascDesc }
    };
}

<div class="card p-2">
    <a href='@Url.Action("ArtDetailsPage","ProductTemp", new { productId=@Model.Product.ProductId })'>
        <img src="@Model.Product.PictureLink" class="frame" width="300" height="300" />
    </a>
    <table class="table-sm">
        <tr>
            <td >Tavla:</td>
            <td><span style="white-space: nowrap;">@Model.Product.Title</span></td>
        </tr>
        <tr>
            <td>Konstnär:</td>
            <td><span style="white-space: nowrap;">@Model.Product.Artist.ArtistName</span></td>
        </tr>
        <tr>
            <td>Pris:</td>
            <td>@Model.Product.Price kr</td>
            <td>
                <div id="purchase" class="mr-5">
                    <a class="btn btn-success btn-sm addToBasket" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-all-route-data="data">Köp</a>
                </div>
            </td>
        </tr>
    </table>
</div>
