@model Product
@{
    var prod = Model;
}
@{ 
    Dictionary<string, string> data = new Dictionary<string, string>()
    {
        { "productId", Model.ProductId },
        { "sortCriteria", "artist" },
        {"ascDesc", "asc" }
    };
}

<div class="card p-2">
    <a href='@Url.Action("ArtDetailsPage","ProductTemp", new { productId=@Model.ProductId })'>
        <img src="@Model.PictureLink" class="frame" width="300" height="300" />
    </a>
    <table class="table-sm">
        <tr>
            <td >Tavla:</td>
            <td><span style="white-space: nowrap;">@Model.Title</span></td>
        </tr>
        <tr>
            <td>Konstnär:</td>
            <td><span style="white-space: nowrap;">@Model.Artist.ArtistName</span></td>
        </tr>
        <tr>
            <td>Pris:</td>
            <td>@Model.Price kr</td>
            <td>
                <div id="purchase" class="mr-5">
                    <a class="btn btn-success btn-sm addToBasket" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-all-route-data="data">Köp</a>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    Vue.component('add-button', {
         data: function () {
            return {
                product: (@Html.Raw(System.Text.Json.JsonSerializer.Serialize(prod)))
            }
        },
        methods: {
            async addToCart(id) {

                await axios.post("/ShoppingCart/AddToShoppingCart?productId="+ id);
            }
        },
        template: '<button class="btn-success" @@click="addToCart(product.ProductId)" >Köp</button>'
    })
    let purchase = new Vue({
        el: '#purchase'

    })
</script>