@model Product


    <div class="col-3 card pt-2">
        <a href='@Url.Action("Info","ProductTemp", new { title=@Model.Title })'>
            <img src="@Model.PictureLink" class="frame" width="305" height="305" />
        </a>
        <table class="table-sm">
            <tr>
                <td scope="col">Tavla:</td>
                <td scope="col"><span style="white-space: nowrap;">@Model.Title</span></td>
            </tr>
            <tr>
                <td scope="col">Konstnär:</td>
                <td scope="col"><span style="white-space: nowrap;">@Model.Artist.ArtistName</span></td>
            </tr>
            <tr>
                <td scope="col">Pris:</td>
                <td scope="col">@Model.Price kr</td>
                <td scope="col">
                        <button id="buy" class="btn-success addToBasket"
                                @@click="addToCart()">
                            Köp
                        </button>
                </td>
            </tr>
        </table>
    </div>
@{ 
    var productId = Model.ProductId;
}

@*<partial name="_BuyAlertNotification" />*@

<script>
    new Vue({
        el: '#buy',
        data: {
            productId: productId
        },
        methods: {
            async addToCart() {
                alert("Hej!")
                
                //await axios.post("/ShoppingCart/AddToShoppingCart", id);


            }
        }
    }
</script>