@model ArtistProductViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#success-alert").hide();
        $(".addToBasket").click(function showAlert() {
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    });

    $('select').on('change', function () {

    });
</script>

@foreach (var item in Model.Product)
{
    <div class="col-3 card pt-2">
        <a href='@Url.Action("Info","ProductTemp", new { title=@item.Title })'>
            <img src="@item.PictureLink" class="frame" width="305" height="305" />
        </a>
        <table class="table-sm">
            <tr>
                <td scope="col">Verk:</td>
                <td scope="col">@item.Title</td>
            </tr>
            <tr>
                <td scope="col">Konstnär:</td>
                <td scope="col">@item.Artist.ArtistName</td>
            </tr>
            <tr>
                <td scope="col">Pris:</td>
                <td scope="col">@item.Price kr</td>
                <td scope="col">
                    <button class="btn-primary addToBasket" 
                            onclick="location.href='@Url.Action("AddToShoppingCart", "ShoppingCart", new { productId = @item.ProductId})'">Köp
                    </button>
                </td>
            </tr>
        </table>
    </div>
}

<div id="success-alert" class="alert alert-success w-25 h-25">
    <strong>Success! </strong>Tavlan är tillagd i kassan.
</div>