
@model Order


<div id="checkout" class="container-md">
    <table class="table table-hover mb-0 ">
        <thead>
            <tr>
                <th class="text-left col-6" scope="col">Produkt</th>
                <th class="text-right col-2" scope="col">Antal</th>
                <th class="text-right col-3" scope="col">Pris</th>
                <th class="col-1" scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OrderRows)
            {
                <tr class="p-2">
                    
                    <td class="text-left">@item.Product.Title </td>\
                    <td class="text-center">@item.Amount
                       
                    </td>
                    <td class="text-right"> @item.Price kr<br /> @(item.Price * item.Amount) kr</td>
                    <td class="text-left">
                        
                        <a class="pointer" v-on:click="remove(item.product.productId)"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
            <tr is="cart-row" v-for="item in shoppingCartItems"
                v-bind:key="item.id"
                v-bind:item="item"></tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total:</td>
                <td colspan="2" class="text-left">
                    @Model.OrderTotal kr
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="container-lg">
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DeliveryFirstName"></label>
                    <input asp-for="DeliveryFirstName" value="@Model.DeliveryFirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryLastName"></label>
                    <input asp-for="DeliveryLastName" value="@Model.DeliveryLastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryStreetName"></label>
                    <input asp-for="DeliveryStreetName" value="@Model.DeliveryStreetName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPostalCode"></label>
                    <input asp-for="DeliveryPostalCode" value="@Model.DeliveryPostalCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryCity"></label>
                    <input asp-for="DeliveryCity" value="@Model.DeliveryCity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryCountry"></label>
                    <input asp-for="DeliveryCountry" value="@Model.DeliveryCountry" class="form-control" />
                </div>
                <input asp-for="UserId" value="@Model.UserId" hidden />

                <button id="update-profile-button" type="submit" class="btn btn-primary">Slutför köp</button>
            </form>
        </div>
    </div>
</div>


