
@model Order


<div class="container border border-2 rounded rounded-3 border-dark bg-white pb-3 w-75 min-vw-75">
    <h1>Kvitto</h1>
    <div class="d-flex justify-content-between">
        <div class="d-flex m-2 ms-0 form-group">
            <textarea rows="5" cols="30" style="resize: none; overflow:hidden" class="border border-1 rounded-3 p-2 mt-0" readonly>
Leveransadress: 
@Model.DeliveryFirstName @Model.DeliveryLastName
@Model.DeliveryStreetName
@Model.DeliveryPostalCode @Model.DeliveryCity
@Model.DeliveryCountry
            </textarea>

        </div>

        <div class="d-flex m-2 me-0 justify-content-right">
            @if (Model.BillingFirstName != null)
            {
                <textarea rows="5" cols="30" style="resize: none; overflow:hidden" class="border border-1 rounded-3 p-2 mt-0" readonly>
Fakturaadress: 
@Model.BillingFirstName @Model.BillingLastName
@Model.BillingStreetName
@Model.BillingPostalCode @Model.BillingCity
@Model.BillingCountry
 
                </textarea>
            }
            else
            {
                <textarea rows="5" cols="30" style="resize: none; overflow:hidden" class="border-0" readonly>


                   
 
                </textarea>
            }
        </div>

    </div>
    <div id="checkout" class="container-md border border-1 rounded-1 mw-100 mb-3">
        <table class="table table-borderless mb-0">
            <thead class="border-bottom">
                <tr class="" colspan="3"></tr>
                <tr>
                    <th class="text-left col-auto" scope="col">Produkt</th>
                    <th class="text-right col-1" scope="col">Antal</th>
                    <th class="text-right col-2" scope="col">Pris</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.OrderRows)
                {
                    <tr class="p-2">

                        <td class="text-left">@item.Product.Title </td>
                        <td class="text-center"> @item.Amount </td>
                        <td class="text-right"> @(item.Price * item.Amount) kr</td>
                    </tr>
                }


            </tbody>
            <tfoot class="border-top">
                <tr>
                    <td colspan="2" class="text-right">Total:</td>
                    <td colspan="1" class="text-left">
                        @Model.OrderTotal kr
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


    @*<div class="container border-1 rounded-2 bg-light">
        <div class="row">
            <div class="col-3">
                <textarea rows="4" cols="40" style="resize: none; overflow:hidden" class="col border-1 rounded-1" readonly>
                @Model.DeliveryFirstName @Model.DeliveryLastName
                @Model.DeliveryStreetName
                @Model.DeliveryPostalCode @Model.DeliveryCity
                @Model.DeliveryCountry
            </textarea>
            </div>
            <div class="col col-md-auto"></div>
            <div class="col-3">
                @if (Model.BillingFirstName != null)
                {
                    <textarea rows="4" cols="40" style="resize: none; overflow:hidden" class="border-1 rounded-1" readonly>
                    @Model.BillingFirstName @Model.BillingLastName
                    @Model.BillingStreetName
                    @Model.BillingPostalCode @Model.BillingCity
                    @Model.BillingCountry
                </textarea>
                }
            </div>
        </div>

        <div id="checkout" class="container-md border-1 rounded-1">
            <table class="table table-borderless mb-0 ">
                <thead>
                    <tr class="" colspan="3"></tr>
                    <tr>
                        <th class="text-left col-6" scope="col">Produkt</th>
                        <th class="text-right col-2" scope="col">Antal</th>
                        <th class="text-right col-3" scope="col">Pris</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.OrderRows)
                    {
                        <tr class="p-2">

                            <td class="text-left">@item.Product.Title </td>\
                            <td class="text-center"> @item.Amount </td>
                            <td class="text-right"> @(item.Price * item.Amount) kr</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">Total:</td>
                        <td colspan="1" class="text-left">
                            @Model.OrderTotal kr
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>*@



