@model ArtistProductViewModel

@{
    ViewData["Title"] = "Produkt information";
}

<div class="d-flex justify-content-center m-4">
    <h2>@Model.Product.FirstOrDefault().Title</h2>
</div>

<div class="d-flex justify-content-center m-4">
    <img src="@Model.Product.FirstOrDefault().PictureLink" />
</div>

<div class="d-flex justify-content-center mt-4 mb-3">
    <h3>Lägg till Artist</h3>
</div>
<div class="d-flex justify-content-center m-3">
    <h4>@Model.Product.FirstOrDefault().ShortDescription</h4>
</div>
<div class="d-flex justify-content-center m-3">
    <p>@Model.Product.FirstOrDefault().LongDescription</p>
</div>

<table class="table">
    <tr>
        <td>
            Pris: @Model.Product.FirstOrDefault().Price kr
        </td>
        <td>
            I lager: @Model.Product.FirstOrDefault().Stock st
        </td>
        <td>
            Dimension: @Model.Product.FirstOrDefault().Width x @Model.Product.FirstOrDefault().Height
        </td>
        <td>
            Stil: @Model.Product.FirstOrDefault().Style
        </td>
        <td>
            @Model.Product.FirstOrDefault().CreationDate.Year
        </td>
        <td>
            @if (@Model.Product.FirstOrDefault().IsPaintingOfTheWeek)
            {

            }

        </td>
    </tr>
</table>
<div class="d-flex w-100 m-3">
    <button class="btn-primary">Köp</button>
</div>