@model IEnumerable<ArtWebshop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>@User.Identity.Name</h1>

<p>
    <a asp-action="AddProduct">Ladda upp konstverk</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>@Html.DisplayNameFor(model => model.Artist)</th>
            <th>Konstnär</th>
            <th>BxH</th>
            <th>@Html.DisplayNameFor(model => model.ShortDescription)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.Style)</th>
            <th class="prevent-linebreak">@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th class="prevent-linebreak">@Html.DisplayNameFor(model => model.Stock)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.Title)</td>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.Artist.ArtistName)</td>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.Width) x @Html.DisplayFor(modelItem => item.Height)</td>
            <td>@Html.DisplayFor(modelItem => item.ShortDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>@Html.DisplayFor(modelItem => item.Style)</td>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.CreationDate)</td>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.Price) kr</td>
            <td class="prevent-linebreak">@Html.DisplayFor(modelItem => item.Stock) st</td>
            <td>
                <a asp-action="ChangeProduct" asp-route-id="@item.ProductId">Ändra</a>

                <a asp-action="DeleteProduct" asp-route-id="@item.ProductId">Radera</a>

                <a asp-action="MakePublic" asp-route-id="@item.ProductId">Publisera</a>
            </td>
        </tr>
        }
    </tbody>
</table>